In [2]:
print('Data Analysis of Postpaid Customers\n')
print('This is a data analysis of postpaid customers of an electricity distribution company.\n',
      'Five different tables are analyzed using Python and its libraries to produce one comprehensive report.\n','The data is analyzed to find the following:\n',
      '1. Explore the data in each table and identify the common columns to merge on\n',
      '2. Extract the relevant columns such as feeder bands and feeder names from 11kV Feeders and 33kV Feeders and then concat the tables.\n',
      '3. Merge the combined feeder list to the postpaid customer list to provided futher information about the customers\n',
      '4. Merge the payment history table to the postpaid customer listing to get the payment pattern of customers.\n',
      '5. Export the final table to a excel file for further analysis.\n')

Data Analysis of Postpaid Customers

This is a data analysis of postpaid customers of an electricity distribution company.
 Five different tables are analyzed using Python and its libraries to produce one comprehensive report.
 The data is analyzed to find the following:
 1. Explore the data in each table and identify the common columns to merge on
 2. Extract the relevant columns such as feeder bands and feeder names from 11kV Feeders and 33kV Feeders and then concat the tables.
 3. Merge the combined feeder list to the postpaid customer list to provided futher information about the customers
 4. Merge the payment history table to the postpaid customer listing to get the payment pattern of customers.
 5. Export the final table to a excel file for further analysis.

In [47]:
# Importing the libraries and the dataset.

# Importing the libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the dataset.
postpaid_customers = pd.read_excel('Postpaid Customers Listing.xlsx')
all_public_dts = pd.read_excel('All Public DTs.xlsx')
payment_history = pd.read_excel('Payment History.xlsx')
kv11feeders = pd.read_excel('11kV Feeders.xlsx')
kv33feeders = pd.read_excel('33kV Feeders.xlsx')

In [48]:
# Data Exploration: Customer Listing.
print('Postpaid Customers Listing\n', postpaid_customers.info(),'\n')

# Print the first five rows of the dataset.
print('First five rows of the dataset:\n', postpaid_customers.head(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129662 entries, 0 to 129661
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Province                   129662 non-null  object
 1   Location                   129662 non-null  object
 2   Account No.                129662 non-null  int64
 3   Old Account No.            129662 non-null  object
 4   Customer Name              129662 non-null  object
 5   Service Address            129662 non-null  object
 6   Tariff                     129662 non-null  object
 7   Account Status             129662 non-null  object
 8   Customer Type              129662 non-null  object
 9   SET_UP_DATE                129662 non-null  datetime64[ns]
 10  meter reading code(R,E,D)  129662 non-null  object
 11  Current Opening bal.       129662 non-null  float64
 12  CURRENT_BILL_AJUSTMENT     129662 non-null  float64
 13  CURRENT_PAYMENT            129662 non-null  float64
 14  Energy (kWh)               129662 non-null  int64
 15  Current Bill               129662 non-null  float64
 16  Current Closing bal.       129662 non-null  float64
 17  last Payment Amount        116467 non-null  float64
 18  Last Payment Date          129662 non-null  datetime64[ns]
 19  PAYMENT                    129662 non-null  float64
 20  Previous Mnth Payment      129662 non-null  float64
 21  Previous Day Payment       129662 non-null  float64
 22  Yesterday Collection       129662 non-null  float64
 23  Feeder Name                129662 non-null  object
 24  DT Name                    129655 non-null  object
 25  Feeder Number              129662 non-null  int64
 26  DT NO                      129655 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(3), object(11)
memory usage: 26.7+ MB
Postpaid Customers Listing
 None

First five rows of the dataset:
   Province     Location  Account No. Old Account No. Customer Name  \
0      PEI  PORT LAJOYE       185241          181122        AN KAR
1      PEI  PORT LAJOYE       282347          281448        AOKE O
2      PEI  PORT LAJOYE       382209          381047        AUBI S
3      PEI  PORT LAJOYE       485333          481446        AILANI
4      PEI  PORT LAJOYE       582447          581111        ARU OL

  Service Address    Tariff Account Status Customer Type SET_UP_DATE  ...  \
0          AGBAMI  D-Non MD         Active           NMD  2016-08-19  ...
1          A25 AR  D-Non MD         Active           NMD  2016-08-19  ...
2          AMOJOD  D-Non MD         Active           NMD  2016-08-19  ...
3          AROMI   D-Non MD         Active           NMD  2016-08-19  ...
4          ARAROM  D-Non MD         Active           NMD  2016-08-19  ...

  last Payment Amount   Last Payment Date  PAYMENT  Previous Mnth Payment  \
0              3000.0 2022-07-14 10:29:39   3000.0                 3000.0
1              6000.0 2022-07-22 08:43:27   6000.0                 6000.0
2              6000.0 2022-07-19 10:52:09   6000.0                 3500.0
3             20000.0 2022-07-21 20:09:24  20000.0                11000.0
4               100.0 2022-07-19 08:10:27   3200.0                    0.0

   Previous Day Payment  Yesterday Collection                  Feeder Name  \
0                   0.0                3000.0  33-OdogunyanTCN-FAKALE MAYA
1                   0.0                6000.0  33-OdogunyanTCN-FAKALE MAYA
2                   0.0                6000.0  33-OdogunyanTCN-FAKALE MAYA
3                   0.0               20000.0  33-OdogunyanTCN-FAKALE MAYA
4                   0.0                3200.0  33-OdogunyanTCN-FAKALE MAYA

                                     DT Name Feeder Number         DT NO
0  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO       1069475  1.001604e+09
1  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO       1069475  1.001604e+09
2  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO       1069475  1.001604e+09
3       33-OdogunyanTCN-FAKALE MAYA-OLORUNDA       1069475  1.001611e+09
4  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO       1069475  1.001604e+09

[5 rows x 27 columns]

In [49]:
# Data Exploration: Payment History.
print('Payment History\n', payment_history.info(),'\n')

# Print the first five rows of the dataset.
print('First five rows of the dataset:\n', payment_history.head(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129662 entries, 0 to 129661
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Province                 129662 non-null  object
 1   Location                 129662 non-null  object
 2   Account No.              129662 non-null  int64
 3   Mar-22 Payment           129662 non-null  float64
 4   Apr-22 Payment           129662 non-null  float64
 5   May-22 Payment           129662 non-null  float64
 6   Jun-22 Payment           129662 non-null  float64
 7   Jul-22 Payment           129662 non-null  float64
 8   Aug-22 Payment           129662 non-null  float64
 9   ABC-OFFICE/ABC-CUSTOMER  129662 non-null  object
 10  ESR/DEA                  129662 non-null  object
 11  BU/RSP                   129662 non-null  object
dtypes: float64(6), int64(1), object(5)
memory usage: 11.9+ MB
Payment History
 None

First five rows of the dataset:
   Province     Location  Account No.  Mar-22 Payment  Apr-22 Payment  \
0      PEI  PORT LAJOYE       185241          5000.0          3510.0
1      PEI  PORT LAJOYE       282347          4000.0          5000.0
2      PEI  PORT LAJOYE       382209          6000.0          3500.0
3      PEI  PORT LAJOYE       485333          8000.0          7000.0
4      PEI  PORT LAJOYE       582447          7000.0          6000.0

   May-22 Payment  Jun-22 Payment  Jul-22 Payment  Aug-22 Payment  \
0             0.0          3000.0          3000.0          3000.0
1          5000.0          5000.0          6000.0          6000.0
2          2500.0             0.0          6000.0          3500.0
3          9000.0             0.0         20000.0         11000.0
4          5000.0          5000.0          3200.0             0.0

  ABC-OFFICE/ABC-CUSTOMER ESR/DEA  BU/RSP
0            ABC-CUSTOMER     ESR  BU/RSP
1            ABC-CUSTOMER     ESR  BU/RSP
2            ABC-CUSTOMER     ESR  BU/RSP
3            ABC-CUSTOMER     ESR  BU/RSP
4            ABC-CUSTOMER     ESR  BU/RSP

In [50]:
# Data Exploration: All Public DTs.
print('Payment History\n', all_public_dts.info(),'\n')

# Print the first five rows of the dataset.
print('First five rows of the dataset:\n', all_public_dts.head(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3371 entries, 0 to 3370
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CIS DT Number                    3371 non-null   int64
 1   New Unique DT Nomenclature       3371 non-null   object
 2   Province                         3371 non-null   object
 3   Location                         3371 non-null   object
 4   Feeder Voltage (V)               3371 non-null   int64
 5   Feeder Name                      3371 non-null   object
 6   Ownership                        3371 non-null   object
 7   Installation Position            3371 non-null   object
 8   Acc Platform                     3371 non-null   object
 9   METER TYPE (PRE-PAID/POST-PAID)  3371 non-null   object
 10  Metering Status                  3371 non-null   object
 11  Meter Number                     3371 non-null   object
 12  Unnamed: 12                      3371 non-null   object
 13  Meter Functionality Status       3371 non-null   object
 14  Meter Type                       3371 non-null   object
 15  Capacity                         3371 non-null   int64
 16  Connection Status                3371 non-null   object
 17  Commissioning Status             3371 non-null   object
 18  Maintenance Status               3371 non-null   object
 19  Disconnection Status             3371 non-null   object
 20  Coordinates (LAT)                3371 non-null   float64
 21  Coordinates (LONG)               3371 non-null   float64
 22  Addresses                        3362 non-null   object
 23  Mode of Reading Used             3371 non-null   object
 24  LAR                              3371 non-null   object
 25  Adopted PAR                      3371 non-null   object
 26  MD KAM                           0 non-null      float64
 27  Consumption (kWh)                3371 non-null   object
 28  M.F.                             3371 non-null   float64
 29  Reconciled Energy (kWh)          3371 non-null   object
 30  Unnamed: 30                      0 non-null      float64
 31  Unnamed: 31                      0 non-null      float64
 32  Unnamed: 32                      0 non-null      float64
 33  Table 2                          0 non-null      float64
 34  Unnamed: 34                      0 non-null      float64
 35  Unnamed: 35                      1 non-null      float64
 36  Unnamed: 36                      0 non-null      float64
 37  Unnamed: 37                      0 non-null      float64
 38  Unnamed: 38                      0 non-null      float64
 39  Table 3                          0 non-null      float64
 40  11                               0 non-null      float64
 41  Unnamed: 41                      0 non-null      float64
 42  Unnamed: 42                      0 non-null      float64
 43  Unnamed: 43                      0 non-null      float64
 44  Unnamed: 44                      0 non-null      float64
 45  Table 4                          0 non-null      float64
 46  33                               0 non-null      float64
 47  Unnamed: 47                      0 non-null      float64
 48  Unnamed: 48                      0 non-null      float64
 49  Unnamed: 49                      0 non-null      float64
 50  Unnamed: 50                      0 non-null      float64
 51  Table 5                          0 non-null      float64
dtypes: float64(26), int64(3), object(23)
memory usage: 1.3+ MB
Payment History
 None

First five rows of the dataset:
    CIS DT Number                 New Unique DT Nomenclature Province  \
0     1000534906  33-IkoroduTCN-IJEDE-OKELETU MILLENIUM III      PEI
1     1000163148      33-IkoroduTCN-FAKALE Source-JUBILEE I      PEI
2     1000163150     33-IkoroduTCN-FAKALE Source-JUBILEE II      PEI
3     1000163152    33-IkoroduTCN-FAKALE Source-JUBILEE III      PEI
4     1000168584              11-SaboINJ-T2-Igbogbo-OGUNSHI      PEI

            Location  Feeder Voltage (V)                  Feeder Name  \
0      CHARLOTTETOWN                  33          33-IkoroduTCN-IJEDE
1       FRENCH RIVER                  33  33-IkoroduTCN-FAKALE Source
2       FRENCH RIVER                  33  33-IkoroduTCN-FAKALE Source
3       FRENCH RIVER                  33  33-IkoroduTCN-FAKALE Source
4  PEI NATIONAL PARK                  11        11-SaboINJ-T2-Igbogbo

  Ownership Installation Position Acc Platform  \
0    PUBLIC                GROUND          CIS
1    PUBLIC                GROUND          CIS
2    PUBLIC                GROUND          CIS
3    PUBLIC                GROUND          CIS
4    PUBLIC                GROUND          CIS

  METER TYPE (PRE-PAID/POST-PAID)  ... Unnamed: 42 Unnamed: 43 Unnamed: 44  \
0                       POST-PAID  ...         NaN         NaN         NaN
1                       POST-PAID  ...         NaN         NaN         NaN
2                       POST-PAID  ...         NaN         NaN         NaN
3                       POST-PAID  ...         NaN         NaN         NaN
4                       POST-PAID  ...         NaN         NaN         NaN

  Table 4  33  Unnamed: 47 Unnamed: 48 Unnamed: 49 Unnamed: 50 Table 5
0     NaN NaN          NaN         NaN         NaN         NaN     NaN
1     NaN NaN          NaN         NaN         NaN         NaN     NaN
2     NaN NaN          NaN         NaN         NaN         NaN     NaN
3     NaN NaN          NaN         NaN         NaN         NaN     NaN
4     NaN NaN          NaN         NaN         NaN         NaN     NaN

[5 rows x 52 columns]

In [51]:
# Drop duplicate value from the feeder number column.
kv11feeders = kv11feeders.drop_duplicates(subset=['Feeder Number'])
print('First five rows of the dataset:\n', kv11feeders.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 0 to 312
Data columns (total 51 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   TS                                             310 non-null    object
 1   33KV FEEDER                                    310 non-null    object
 2   TS.1                                           311 non-null    object
 3   11KV FEEDERS                                   311 non-null    object
 4   SRT BAND                                       289 non-null    object
 5   BAND                                           289 non-null    object
 6   Feeder Names                                   311 non-null    object
 7   TS.2                                           311 non-null    object
 8   METER NO                                       310 non-null    object
 9   Feeder Number                                  310 non-null    float64
 10  Consumption                                    311 non-null    float64
 11  11kV Point Load MWH                            311 non-null    object
 12  Metered                                        311 non-null    object
 13  Metered EST.                                   311 non-null    float64
 14  Unmetered                                      310 non-null    float64
 15  SUM of Output MWH                              311 non-null    float64
 16  Loss MWH                                       310 non-null    float64
 17  % Loss between Feeder and DT                   297 non-null    float64
 18  % Loss December                                283 non-null    float64
 19  % Loss Grid and DT ( November)                 284 non-null    float64
 20  % Loss Grid and DT ( October)                  279 non-null    float64
 21  % Loss Grid and DT ( September)                278 non-null    float64
 22  Unnamed: 22                                    0 non-null      float64
 23  NMD Post paid                                  58 non-null     float64
 24  MD Post paid                                   296 non-null    object
 25  PPM                                            0 non-null      float64
 26  Total Energy Billed                            294 non-null    float64
 27  Loss quantum btw Grid and Total Energy Billed  294 non-null    float64
 28  % Variance                                     280 non-null    float64
 29  Metered EST..1                                 291 non-null    float64
 30  Unmetered.1                                    292 non-null    float64
 31  Adjusted Sum                                   291 non-null    float64
 32  Loss MWH.1                                     289 non-null    float64
 33  % Loss                                         276 non-null    float64
 34  Unnamed: 34                                    0 non-null      float64
 35  Comments                                       9 non-null      object
 36  WAT                                            277 non-null    float64
 37  Unnamed: 37                                    0 non-null      float64
 38  July                                           0 non-null      float64
 39  June                                           0 non-null      float64
 40  May                                            273 non-null    float64
 41  April                                          277 non-null    float64
 42  Mar                                            276 non-null    float64
 43  Feb                                            273 non-null    float64
 44  Unnamed: 44                                    2 non-null      object
 45  NO of MD Customers on the Feeder               311 non-null    float64
 46  Number of Public DTs on the Feeder             309 non-null    float64
 47  Metered.1                                      309 non-null    float64
 48  Metered EST..2                                 309 non-null    float64
 49  Unmetered.2                                    309 non-null    float64
 50  Unnamed: 50                                    309 non-null    float64
dtypes: float64(37), object(14)
memory usage: 126.3+ KB
First five rows of the dataset:
 None

In [52]:
# Extract the required columns(Feeder Number, Feeder Names, Band) from the dataset.

required11kvfeeders_column = kv11feeders[['Feeder Number','Feeder Names','SRT BAND']]

# Change the data type of the Feeder Number column to integer.
required11kvfeeders_column['Feeder Number'] = required11kvfeeders_column['Feeder Number'].fillna(0).astype('int64')

print('Required columns from the dataset:\n', required11kvfeeders_column.head(),'\n')

Required columns from the dataset:
    Feeder Number             Feeder Names SRT BAND
0        1071101    11-AbesanINJ-T1-Aboru   SILVER
1        1079063   11-AbesanINJ-T1-Baruwa     GOLD
2        1078849    11-AbesanINJ-T1-Ipaja     GOLD
3        1078349   11-AbesanINJ-T2-Abesan     GOLD
4        1075849  11-AbesanINJ-T2-Shagari     GOLD

c:\Users\godek\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
# Drop duplicate value from the feeder number column.
kv11feeders = kv11feeders.drop_duplicates(subset=['Feeder Number'])
print('First five rows of the dataset:\n', kv11feeders.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 0 to 312
Data columns (total 51 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   TS                                             310 non-null    object
 1   33KV FEEDER                                    310 non-null    object
 2   TS.1                                           311 non-null    object
 3   11KV FEEDERS                                   311 non-null    object
 4   SRT BAND                                       289 non-null    object
 5   BAND                                           289 non-null    object
 6   Feeder Names                                   311 non-null    object
 7   TS.2                                           311 non-null    object
 8   METER NO                                       310 non-null    object
 9   Feeder Number                                  310 non-null    float64
 10  Consumption                                    311 non-null    float64
 11  11kV Point Load MWH                            311 non-null    object
 12  Metered                                        311 non-null    object
 13  Metered EST.                                   311 non-null    float64
 14  Unmetered                                      310 non-null    float64
 15  SUM of Output MWH                              311 non-null    float64
 16  Loss MWH                                       310 non-null    float64
 17  % Loss between Feeder and DT                   297 non-null    float64
 18  % Loss December                                283 non-null    float64
 19  % Loss Grid and DT ( November)                 284 non-null    float64
 20  % Loss Grid and DT ( October)                  279 non-null    float64
 21  % Loss Grid and DT ( September)                278 non-null    float64
 22  Unnamed: 22                                    0 non-null      float64
 23  NMD Post paid                                  58 non-null     float64
 24  MD Post paid                                   296 non-null    object
 25  PPM                                            0 non-null      float64
 26  Total Energy Billed                            294 non-null    float64
 27  Loss quantum btw Grid and Total Energy Billed  294 non-null    float64
 28  % Variance                                     280 non-null    float64
 29  Metered EST..1                                 291 non-null    float64
 30  Unmetered.1                                    292 non-null    float64
 31  Adjusted Sum                                   291 non-null    float64
 32  Loss MWH.1                                     289 non-null    float64
 33  % Loss                                         276 non-null    float64
 34  Unnamed: 34                                    0 non-null      float64
 35  Comments                                       9 non-null      object
 36  WAT                                            277 non-null    float64
 37  Unnamed: 37                                    0 non-null      float64
 38  July                                           0 non-null      float64
 39  June                                           0 non-null      float64
 40  May                                            273 non-null    float64
 41  April                                          277 non-null    float64
 42  Mar                                            276 non-null    float64
 43  Feb                                            273 non-null    float64
 44  Unnamed: 44                                    2 non-null      object
 45  NO of MD Customers on the Feeder               311 non-null    float64
 46  Number of Public DTs on the Feeder             309 non-null    float64
 47  Metered.1                                      309 non-null    float64
 48  Metered EST..2                                 309 non-null    float64
 49  Unmetered.2                                    309 non-null    float64
 50  Unnamed: 50                                    309 non-null    float64
dtypes: float64(37), object(14)
memory usage: 126.3+ KB
First five rows of the dataset:
 None

In [54]:
# Data Exploration: 33kV Feeders
print('33kV Feeders\n', kv33feeders.info(),'\n')

# Print the first five rows of the dataset.
print('First five rows of the dataset:\n', kv33feeders.head(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Feeder Names         109 non-null    object
 1   TS                   109 non-null    object
 2   SRT BAND             77 non-null     object
 3   Feeder Number        96 non-null     float64
 4   SRT BAND.1           77 non-null     object
 5   SRT BAND.2           98 non-null     object
 6   33kV Feeder          109 non-null    object
 7   Consumption MWH      108 non-null    float64
 8   33kV Point Load MWH  89 non-null     float64
 9   33kV Public DT MWH   31 non-null     float64
 10  Sum of 33/415        109 non-null    float64
 11  Injection S/S MWH    109 non-null    float64
 12  SUM of Output MWH    109 non-null    float64
 13  Sum of 11/415        110 non-null    float64
 14  Loss MWH             109 non-null    float64
 15  % Loss               99 non-null     float64
 16  Remark               8 non-null      object
dtypes: float64(10), object(7)
memory usage: 14.9+ KB
33kV Feeders
 None

First five rows of the dataset:
                       Feeder Names            TS  SRT BAND  Feeder Number  \
0  132-EgbinTCN-MARYLAND-LANDCRAFT  LANDCRAFT TS  PLATINUM      1145349.0
1      132-EgbinTCN-MARYLAND-OMNIK     OMINIK TS  PLATINUM      1144854.0
2     132-EgbinTCN-SAGAMU-TOPSTEEL  TOP-STEEL TS  PLATINUM      1145849.0
3                          SUNFLAG       SUNFLAG  PLATINUM            NaN
4             33-AkokaTCN-New Yaba      AKOKA TS       NaN      1079526.0

  SRT BAND.1 SRT BAND.2                      33kV Feeder  Consumption MWH  \
0   PLATINUM          A  132-EgbinTCN-MARYLAND-LANDCRAFT            993.5
1   PLATINUM          A      132-EgbinTCN-MARYLAND-OMNIK           1019.6
2   PLATINUM          A     132-EgbinTCN-SAGAMU-TOPSTEEL            903.6
3   PLATINUM          A      132-EgbinTCN-SAGAMU-SUNFLAG              0.0
4        NaN          E             33-AkokaTCN-New Yaba              0.0

   33kV Point Load MWH  33kV Public DT MWH  Sum of 33/415  Injection S/S MWH  \
0                993.5                 NaN          993.5                0.0
1               1019.6                 NaN         1019.6                0.0
2                903.6                 NaN          903.6                0.0
3                  0.0                 NaN            0.0                0.0
4                  NaN                 NaN            0.0              859.6

   SUM of Output MWH  Sum of 11/415      Loss MWH        % Loss Remark
0              993.5       0.000000  0.000000e+00  0.000000e+00    NaN
1             1019.6       0.000000  5.798029e-12  5.686572e-15    NaN
2              903.6       0.000000  5.798029e-12  6.416588e-15    NaN
3                0.0       0.000000  0.000000e+00           NaN    NaN
4              859.6     831.827224 -8.596000e+02           NaN    NaN

In [55]:
# Drop duplicate value from the feeder number column.
kv33feeders = kv33feeders.drop_duplicates(subset=['Feeder Number'])
print('First five rows of the dataset:\n', kv33feeders.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 101
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Feeder Names         97 non-null     object
 1   TS                   97 non-null     object
 2   SRT BAND             74 non-null     object
 3   Feeder Number        96 non-null     float64
 4   SRT BAND.1           74 non-null     object
 5   SRT BAND.2           94 non-null     object
 6   33kV Feeder          97 non-null     object
 7   Consumption MWH      97 non-null     float64
 8   33kV Point Load MWH  78 non-null     float64
 9   33kV Public DT MWH   28 non-null     float64
 10  Sum of 33/415        97 non-null     float64
 11  Injection S/S MWH    97 non-null     float64
 12  SUM of Output MWH    97 non-null     float64
 13  Sum of 11/415        97 non-null     float64
 14  Loss MWH             97 non-null     float64
 15  % Loss               89 non-null     float64
 16  Remark               7 non-null      object
dtypes: float64(10), object(7)
memory usage: 13.6+ KB
First five rows of the dataset:
 None

In [56]:
# Extract the required columns(Feeder Number, Feeder Names, Band) from the dataset.

required33kvfeeders_column = kv33feeders[['Feeder Number','Feeder Names','SRT BAND']]

# Change the datatypr of feeder number column name to integer.
required33kvfeeders_column['Feeder Number'] = required33kvfeeders_column['Feeder Number'].fillna(0).astype(np.int64)

print('Required columns from the dataset:\n', required33kvfeeders_column.head(),'\n')

Required columns from the dataset:
    Feeder Number                     Feeder Names  SRT BAND
0        1145349  132-EgbinTCN-MARYLAND-LANDCRAFT  PLATINUM
1        1144854      132-EgbinTCN-MARYLAND-OMNIK  PLATINUM
2        1145849     132-EgbinTCN-SAGAMU-TOPSTEEL  PLATINUM
3              0                          SUNFLAG  PLATINUM
4        1079526             33-AkokaTCN-New Yaba       NaN

c:\Users\godek\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
# Combine rows of the 11kV and 33kV feeders dataset.
feeder_list = pd.concat([required11kvfeeders_column, required33kvfeeders_column])


print('Combined rows of the 11kV and 33kV feeders dataset:\n', feeder_list.head(),'\n')

Combined rows of the 11kV and 33kV feeders dataset:
    Feeder Number             Feeder Names SRT BAND
0        1071101    11-AbesanINJ-T1-Aboru   SILVER
1        1079063   11-AbesanINJ-T1-Baruwa     GOLD
2        1078849    11-AbesanINJ-T1-Ipaja     GOLD
3        1078349   11-AbesanINJ-T2-Abesan     GOLD
4        1075849  11-AbesanINJ-T2-Shagari     GOLD

In [58]:
# Merging the postpaid customer listing and the feeder list dataset.
postpaid_customers_feeder_list = postpaid_customers.merge(feeder_list, on= 'Feeder Number', how='left', indicator=True)

# Print the first five rows of the dataset.

print('Postpaid Customers Listing\n', postpaid_customers_feeder_list.info(),'\n')
print('First five rows of the dataset:\n', postpaid_customers_feeder_list.head(),'\n')
print('Comment:\n', 'We have missing data in the SRT BAND column.\n', 'We need to analyse further to identify the feeders with the missing data.','\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129662 entries, 0 to 129661
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Province                   129662 non-null  object
 1   Location                   129662 non-null  object
 2   Account No.                129662 non-null  int64
 3   Old Account No.            129662 non-null  object
 4   Customer Name              129662 non-null  object
 5   Service Address            129662 non-null  object
 6   Tariff                     129662 non-null  object
 7   Account Status             129662 non-null  object
 8   Customer Type              129662 non-null  object
 9   SET_UP_DATE                129662 non-null  datetime64[ns]
 10  meter reading code(R,E,D)  129662 non-null  object
 11  Current Opening bal.       129662 non-null  float64
 12  CURRENT_BILL_AJUSTMENT     129662 non-null  float64
 13  CURRENT_PAYMENT            129662 non-null  float64
 14  Energy (kWh)               129662 non-null  int64
 15  Current Bill               129662 non-null  float64
 16  Current Closing bal.       129662 non-null  float64
 17  last Payment Amount        116467 non-null  float64
 18  Last Payment Date          129662 non-null  datetime64[ns]
 19  PAYMENT                    129662 non-null  float64
 20  Previous Mnth Payment      129662 non-null  float64
 21  Previous Day Payment       129662 non-null  float64
 22  Yesterday Collection       129662 non-null  float64
 23  Feeder Name                129662 non-null  object
 24  DT Name                    129655 non-null  object
 25  Feeder Number              129662 non-null  int64
 26  DT NO                      129655 non-null  float64
 27  Feeder Names               114302 non-null  object
 28  SRT BAND                   109098 non-null  object
 29  _merge                     129662 non-null  category
dtypes: category(1), datetime64[ns](2), float64(11), int64(3), object(13)
memory usage: 29.8+ MB
Postpaid Customers Listing
 None

First five rows of the dataset:
   Province     Location  Account No. Old Account No. Customer Name  \
0      PEI  PORT LAJOYE       185241          181122        AN KAR
1      PEI  PORT LAJOYE       282347          281448        AOKE O
2      PEI  PORT LAJOYE       382209          381047        AUBI S
3      PEI  PORT LAJOYE       485333          481446        AILANI
4      PEI  PORT LAJOYE       582447          581111        ARU OL

  Service Address    Tariff Account Status Customer Type SET_UP_DATE  ...  \
0          AGBAMI  D-Non MD         Active           NMD  2016-08-19  ...
1          A25 AR  D-Non MD         Active           NMD  2016-08-19  ...
2          AMOJOD  D-Non MD         Active           NMD  2016-08-19  ...
3          AROMI   D-Non MD         Active           NMD  2016-08-19  ...
4          ARAROM  D-Non MD         Active           NMD  2016-08-19  ...

  Previous Mnth Payment  Previous Day Payment  Yesterday Collection  \
0                3000.0                   0.0                3000.0
1                6000.0                   0.0                6000.0
2                3500.0                   0.0                6000.0
3               11000.0                   0.0               20000.0
4                   0.0                   0.0                3200.0

                   Feeder Name                                    DT Name  \
0  33-OdogunyanTCN-FAKALE MAYA  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO
1  33-OdogunyanTCN-FAKALE MAYA  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO
2  33-OdogunyanTCN-FAKALE MAYA  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO
3  33-OdogunyanTCN-FAKALE MAYA       33-OdogunyanTCN-FAKALE MAYA-OLORUNDA
4  33-OdogunyanTCN-FAKALE MAYA  33-OdogunyanTCN-FAKALE MAYA-ARAROMI ADAMO

   Feeder Number         DT NO  Feeder Names SRT BAND     _merge
0        1069475  1.001604e+09           NaN      NaN  left_only
1        1069475  1.001604e+09           NaN      NaN  left_only
2        1069475  1.001604e+09           NaN      NaN  left_only
3        1069475  1.001611e+09           NaN      NaN  left_only
4        1069475  1.001604e+09           NaN      NaN  left_only

[5 rows x 30 columns]

Comment:
 We have missing data in the SRT BAND column.
 We need to analyse further to identify the feeders with the missing data.

In [59]:
# Filter Feeder Names with NA in the SRT BAND column.
sbt_band_na = postpaid_customers_feeder_list[postpaid_customers_feeder_list['SRT BAND'].isna()]
sbt_band_na = sbt_band_na['Feeder Name'].unique()
print('Feeder Names with NA in the SRT BAND column:\n', sbt_band_na,'\n')
print('Comment:\n', 'We have five feeders with missing data in the SRT BAND column.\n', 
      'We need to analyse further to know why the feeders have missing data.','\n')

Feeder Names with NA in the SRT BAND column:
 ['33-OdogunyanTCN-FAKALE MAYA' '33-MarylandTCN-AJEGUNLE INTERFACE'
 '11-IgbogboINJ-T2-Agunfoye' '11-OdogunyanINJ-T2-Odokekere']

Comment:
 We have five feeders with missing data in the SRT BAND column.
 We need to analyse further to know why the feeders have missing data.

In [60]:
# Filter out the feeders on the customer listing that are not on the feeder list.
feeder_not_on_feeder_list = postpaid_customers_feeder_list.loc[postpaid_customers_feeder_list['_merge']== 'left_only', 'Feeder Name'].unique()

print('Feeders with missing data:\n', feeder_not_on_feeder_list,'\n')
print('Comment:\n', 'Two feeders are not on the feeder list\n', 'we need to check the feeder list to see if the feeders are on the list.\n',
      'Out of the five feeders with missing data, three are on the feeder list.\n', 
      'We need to check the feeder list to see if the other two feeders are on the list.','\n')

Feeders with missing data:
 ['33-OdogunyanTCN-FAKALE MAYA' '33-MarylandTCN-AJEGUNLE INTERFACE']

Comment:
 Two feeders are not on the feeder list
 we need to check the feeder list to see if the feeders are on the list.
 Out of the five feeders with missing data, three are on the feeder list.
 We need to check the feeder list to see if the other two feeders are on the list.

In [61]:
# Check if names like Ajegunle Interface in the feeder names column of the feeder list and postpaid customers listing.
fd_aje = feeder_list[feeder_list['Feeder Names'].str.contains(('AJEGUNLE INTERFACE'), na=False)]

fd_aje_cus = postpaid_customers[postpaid_customers['Feeder Name'].str.contains(('AJEGUNLE INTERFACE'), na=False)]
fd_aje_cus = fd_aje_cus[['Feeder Number', 'Feeder Name']]
fd_aje_cus = fd_aje_cus.drop_duplicates()

# Check if names like Fakale Maya in the feeder names column of the feeder list and postpaid customers listing.
fd_maya = feeder_list[feeder_list['Feeder Names'].str.contains(('MAYA'), na=False)]

fd_maya_cus = postpaid_customers[postpaid_customers['Feeder Name'].str.contains(('MAYA'), na=False)]
fd_maya_cus = fd_maya_cus[['Feeder Number', 'Feeder Name']]
fd_maya_cus = fd_maya_cus.drop_duplicates()

# Print the result.
print('Nomenclature and feeder number of Ajegunle on feeder list:\n',fd_aje, '\n')
print('Nomenclature and feeder number of Ajegunle on postpaid customer listing:\n', fd_aje_cus, '\n')
print('Nomenclature and feeder number of Fakale Maya on feeder list:\n', fd_maya, '\n')
print('Nomenclature and feeder number of Fakale Maya on postpaid customer listing\n', fd_maya_cus, '\n')

print('Comment:\n', 'The two missing feeders have mismatched feeder numbers in the two tables.\n',
      'Also, three of the  feeders (33-MarylandTCN-AJEGUNLE INTERFACE, 11-IgbogboINJ-T2-Agunfoye, 11-OdogunyanINJ-T2-Odokekere) does not have srt band in the feeder list.\n')

Nomenclature and feeder number of Ajegunle on feeder list:
 Empty DataFrame
Columns: [Feeder Number, Feeder Names, SRT BAND]
Index: []

Nomenclature and feeder number of Ajegunle on postpaid customer listing:
     Feeder Number                        Feeder Name
32        1103849  33-MarylandTCN-AJEGUNLE INTERFACE

Nomenclature and feeder number of Fakale Maya on feeder list:
     Feeder Number                 Feeder Names SRT BAND
58        1068981  33-OdogunyanTCN-FAKALE MAYA   SILVER

Nomenclature and feeder number of Fakale Maya on postpaid customer listing
    Feeder Number                  Feeder Name
0        1069475  33-OdogunyanTCN-FAKALE MAYA

Comment:
 The two missing feeders have mismatched feeder numbers in the two tables.
 Also, three of the  feeders (33-MarylandTCN-AJEGUNLE INTERFACE, 11-IgbogboINJ-T2-Agunfoye, 11-OdogunyanINJ-T2-Odokekere) does not have srt band in the feeder list.

In [62]:
# Update the records of the feeders with mismatched feeder numbers and missing srt bands in the feeder list.

# Update the feeder number and srt band of 33-MarylandTCN-AJEGUNLE INTERFACE
required33kvfeeders_column.loc[71, ['Feeder Number', 'SRT BAND']] = [1103849, 'DIAMOND']

# Update the feeder number of 33-OdogunyanTCN-FAKALE MAYA
required33kvfeeders_column.loc[58, ['Feeder Number']] = [1069475]

# Update the srt band of 11-OdogunyanINJ-T2-Odokekere
required11kvfeeders_column.loc[214, ['SRT BAND']] = ['SILVER']

# Update the srt band of 11-IgbogboINJ-T2-Agunfoye
required11kvfeeders_column.loc[111, ['SRT BAND']] = ['SILVER']

c:\Users\godek\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [63]:
# Combine rows of the 11kV and 33kV of the updated required feeders dataset.
feeder_list_updated = pd.concat([required11kvfeeders_column, required33kvfeeders_column], ignore_index=True)

# Drop the Feeder Names column from the feeder list dataset.
feeder_list_updated = feeder_list_updated.drop(['Feeder Names'], axis=1)

# Merging the postpaid customer listing and the updated feeder list dataset.
postpaid_customers_srt_band = postpaid_customers.merge(feeder_list_updated, on= 'Feeder Number', how='left', indicator=True)

# Print the first five rows of the dataset.

print('Postpaid Customers Listing\n', postpaid_customers_srt_band.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129662 entries, 0 to 129661
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Province                   129662 non-null  object
 1   Location                   129662 non-null  object
 2   Account No.                129662 non-null  int64
 3   Old Account No.            129662 non-null  object
 4   Customer Name              129662 non-null  object
 5   Service Address            129662 non-null  object
 6   Tariff                     129662 non-null  object
 7   Account Status             129662 non-null  object
 8   Customer Type              129662 non-null  object
 9   SET_UP_DATE                129662 non-null  datetime64[ns]
 10  meter reading code(R,E,D)  129662 non-null  object
 11  Current Opening bal.       129662 non-null  float64
 12  CURRENT_BILL_AJUSTMENT     129662 non-null  float64
 13  CURRENT_PAYMENT            129662 non-null  float64
 14  Energy (kWh)               129662 non-null  int64
 15  Current Bill               129662 non-null  float64
 16  Current Closing bal.       129662 non-null  float64
 17  last Payment Amount        116467 non-null  float64
 18  Last Payment Date          129662 non-null  datetime64[ns]
 19  PAYMENT                    129662 non-null  float64
 20  Previous Mnth Payment      129662 non-null  float64
 21  Previous Day Payment       129662 non-null  float64
 22  Yesterday Collection       129662 non-null  float64
 23  Feeder Name                129662 non-null  object
 24  DT Name                    129655 non-null  object
 25  Feeder Number              129662 non-null  int64
 26  DT NO                      129655 non-null  float64
 27  SRT BAND                   129662 non-null  object
 28  _merge                     129662 non-null  category
dtypes: category(1), datetime64[ns](2), float64(11), int64(3), object(12)
memory usage: 28.8+ MB
Postpaid Customers Listing
 None

In [64]:
# Explore the payment history dataset.
print('Payment History\n', payment_history.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129662 entries, 0 to 129661
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Province                 129662 non-null  object
 1   Location                 129662 non-null  object
 2   Account No.              129662 non-null  int64
 3   Mar-22 Payment           129662 non-null  float64
 4   Apr-22 Payment           129662 non-null  float64
 5   May-22 Payment           129662 non-null  float64
 6   Jun-22 Payment           129662 non-null  float64
 7   Jul-22 Payment           129662 non-null  float64
 8   Aug-22 Payment           129662 non-null  float64
 9   ABC-OFFICE/ABC-CUSTOMER  129662 non-null  object
 10  ESR/DEA                  129662 non-null  object
 11  BU/RSP                   129662 non-null  object
dtypes: float64(6), int64(1), object(5)
memory usage: 11.9+ MB
Payment History
 None

In [65]:
# Drop province and locaion columns from the payment history dataset.
payment_history_requied_columns = payment_history.drop(['Province', 'Location'], axis=1)

# Merge the postpaid customer listing with srt band and the payment history dataset.
postpaid_customers_srt_band_payment_history = postpaid_customers_srt_band.merge(payment_history_requied_columns, on= 'Account No.', how='left')

# Print the first five rows of the dataset.
print('First five rows of the dataset:\n', postpaid_customers_srt_band_payment_history.head(),'\n')

# Print the information of the dataset.
print('Postpaid Customers Listing\n', postpaid_customers_srt_band_payment_history.info(),'\n')

First five rows of the dataset:
   Province     Location  Account No. Old Account No. Customer Name  \
0      PEI  PORT LAJOYE       185241          181122        AN KAR
1      PEI  PORT LAJOYE       282347          281448        AOKE O
2      PEI  PORT LAJOYE       382209          381047        AUBI S
3      PEI  PORT LAJOYE       485333          481446        AILANI
4      PEI  PORT LAJOYE       582447          581111        ARU OL

  Service Address    Tariff Account Status Customer Type SET_UP_DATE  ...  \
0          AGBAMI  D-Non MD         Active           NMD  2016-08-19  ...
1          A25 AR  D-Non MD         Active           NMD  2016-08-19  ...
2          AMOJOD  D-Non MD         Active           NMD  2016-08-19  ...
3          AROMI   D-Non MD         Active           NMD  2016-08-19  ...
4          ARAROM  D-Non MD         Active           NMD  2016-08-19  ...

  _merge  Mar-22 Payment  Apr-22 Payment  May-22 Payment  Jun-22 Payment  \
0   both          5000.0          3510.0             0.0          3000.0
1   both          4000.0          5000.0          5000.0          5000.0
2   both          6000.0          3500.0          2500.0             0.0
3   both          8000.0          7000.0          9000.0             0.0
4   both          7000.0          6000.0          5000.0          5000.0

   Jul-22 Payment  Aug-22 Payment  ABC-OFFICE/ABC-CUSTOMER ESR/DEA  BU/RSP
0          3000.0          3000.0             ABC-CUSTOMER     ESR  BU/RSP
1          6000.0          6000.0             ABC-CUSTOMER     ESR  BU/RSP
2          6000.0          3500.0             ABC-CUSTOMER     ESR  BU/RSP
3         20000.0         11000.0             ABC-CUSTOMER     ESR  BU/RSP
4          3200.0             0.0             ABC-CUSTOMER     ESR  BU/RSP

[5 rows x 38 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129662 entries, 0 to 129661
Data columns (total 38 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Province                   129662 non-null  object
 1   Location                   129662 non-null  object
 2   Account No.                129662 non-null  int64
 3   Old Account No.            129662 non-null  object
 4   Customer Name              129662 non-null  object
 5   Service Address            129662 non-null  object
 6   Tariff                     129662 non-null  object
 7   Account Status             129662 non-null  object
 8   Customer Type              129662 non-null  object
 9   SET_UP_DATE                129662 non-null  datetime64[ns]
 10  meter reading code(R,E,D)  129662 non-null  object
 11  Current Opening bal.       129662 non-null  float64
 12  CURRENT_BILL_AJUSTMENT     129662 non-null  float64
 13  CURRENT_PAYMENT            129662 non-null  float64
 14  Energy (kWh)               129662 non-null  int64
 15  Current Bill               129662 non-null  float64
 16  Current Closing bal.       129662 non-null  float64
 17  last Payment Amount        116467 non-null  float64
 18  Last Payment Date          129662 non-null  datetime64[ns]
 19  PAYMENT                    129662 non-null  float64
 20  Previous Mnth Payment      129662 non-null  float64
 21  Previous Day Payment       129662 non-null  float64
 22  Yesterday Collection       129662 non-null  float64
 23  Feeder Name                129662 non-null  object
 24  DT Name                    129655 non-null  object
 25  Feeder Number              129662 non-null  int64
 26  DT NO                      129655 non-null  float64
 27  SRT BAND                   129662 non-null  object
 28  _merge                     129662 non-null  category
 29  Mar-22 Payment             129662 non-null  float64
 30  Apr-22 Payment             129662 non-null  float64
 31  May-22 Payment             129662 non-null  float64
 32  Jun-22 Payment             129662 non-null  float64
 33  Jul-22 Payment             129662 non-null  float64
 34  Aug-22 Payment             129662 non-null  float64
 35  ABC-OFFICE/ABC-CUSTOMER    129662 non-null  object
 36  ESR/DEA                    129662 non-null  object
 37  BU/RSP                     129662 non-null  object
dtypes: category(1), datetime64[ns](2), float64(17), int64(3), object(15)
memory usage: 37.7+ MB
Postpaid Customers Listing
 None

In [66]:
# Print summary.
print('Summary:\n', 'We have 129,662 accounts in the postpaid customer listing.\n',
      'All the required data has been merged into one dataset and I have updated all the missing/mismatched data.\n',
      'The merged dataset is ready for further analysis in python or other visulization/analysis tools.\n')

Summary:
 We have 129,662 accounts in the postpaid customer listing.
 All the required data has been merged into one dataset and I have updated all the missing/mismatched data.
 The merged dataset is ready for further analysis in python or other visulization/analysis tools.

In [67]:
# Export the dataset to excel.
postpaid_customers_srt_band_payment_history.to_excel('Postpaid Customers SRT BAND Payment History.xlsx', index=False)